@* Copyright (C) E5R Development Team. All rights reserved. *@
@* Licensed under the MIT License. See LICENSE file for license information. *@

﻿<h1>E5R.Framework.Security.Auth</h1>
<p>Welcome to a Sample Web Site for <strong>E5R.Framework.Security.Auth</strong> component!</p>
